img {
  float: left;
  max-width: 25%;
  margin-right: 20px;
}

@media (max-width: 992px){
  img {
    display: none;
  }
}

.row {
  margin-bottom: 25px;
}

.Projects h2 {
  Color: green;
}

.About h2 {
  Color: blue;
}

.footer {
  text-align: center;
}
